*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
body{
    background-color: rgb(93, 90, 90);
}


/*-----------header----------*/
header{
    padding: 2rem;
    display: flex;
    justify-content: end;
}
.head{
    padding: 1rem;
    text-decoration: none;
    color: lightblue;
}
.head:hover{
    background-color: aliceblue;
    border: 1px solid lightblue;
    border-radius: 10px;
}


/*-----------welcome----------*/
.wel{
    display: flex;
    gap: 0.5rem;
}
.welcome{
    font-size: 1.5rem;
    color: white
}


/*-----------projects----------*/
.project{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    gap: 3rem;
}
.m-div{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.demo{
    padding: 0.5rem;
}
.demo-p{
    font-size: 0.3rem;
    color: aliceblue;
}
.content{
    height: 7rem;
}
.content img{
    height: 100%;
}
.c-a{
    text-decoration: none;
    color: aliceblue;
}
.see-more{
    padding: 10px;
    display: inline-block;
}
.more-p{
    text-align: center;
    color: aliceblue;
    border: 1px solid white;
}


/*-----------about me----------*/
.about{
    margin: 2rem;
    padding: 1.5rem;
    display: flex;
    gap: 1rem;
    border: 1px solid aliceblue;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px silver;
}
.about-img{
    height: 7rem;
}
.about-img img{
    height: 100%;
    border-radius: 10px;
}
.about-text{
    padding: 0.5rem;
    color: white;
}


/*-----------contact me----------*/
.contact
.contact-sec{
    display: flex;
    justify-content: space-evenly;
}

.sec-content1
.address
.add-text

.sec-content2
.sec-contact
.email

.sec-content3
.media
.media-links{
    display: flex;
}
/*-----------footer----------*/